[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "WebGestaltR"]
	path = WebGestaltR
	url = https://github.com/bzhanglab/webgestaltr
[submodule "clinicalomicsdbR"]
	path = clinicalomicsdbR
	url = https://github.com/bzhanglab/clinicalomicsdbr
