[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "WebGestaltR"]
	path = WebGestaltR
	url = https://github.com/bzhanglab/webgestaltr
	shallow = true
	registered = true
